{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
	<h3 class="text-center">Nos meilleurs ventes</h3>
	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				{% include 'product/single_product.html.twig' %}
			</div>
		{% endfor %}
	</div>


	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Venez nous rencontrez dans nos différentes
				<span class="text-muted">boutiques en France</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="img-fluid" src="{{ asset('assets/images/first.jpg') }}" alt="une boutique">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Une équipe de professionels
				<span class="text-muted"> au grand savoir-faire</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img class="img-fluid" src="{{ asset('assets/images/second.jpg') }}" alt="Le savoir faire francais">
		</div>
	</div>

	<hr class="featurette-divider">
	</div>

	<hr class="featurette-divider">
{% endblock %}
